{% extends 'main/base.html' %}

{% block head %}
    <title>Settings</title>
    <!--===============================================================================================-->
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicons/settings.png"/>
    <!--===============================================================================================-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/css/settings.css">
    <!--===============================================================================================-->
{% endblock %}

{% block content %}
    <div class="page-wrapper p-b-50">
        <div class="wrapper wrapper--w900">
            <div class="card card-6">
                <div class="card-heading">
                    <ul>
                        <li id="title1">
                            <a href="{{ url_for('settings.profile') }}">
                                <h2 class="title">Profile</h2>
                            </a>
                        </li>

                        <li id="title2">
                            <a href="{{ url_for('settings.security') }}">
                                <h2 class="title">Security</h2>
                            </a>
                        </li>

                        <li id="title3">
                            <a href="{{ url_for('settings.about') }}">
                                <h2 class="title" style="color: #2c6ed5">About you</h2>
                            </a>
                        </li>
                    </ul>

                </div>
                <div class="card-body">
                    <form action="" method="post" novalidate>
                        {{ form.hidden_tag() }}
                        <div class="form-row">
                            <div class="name">{{ form.about_me.label }}</div>
                            <div class="value">
                                {{ form.about_me(class="input--style-6", placeholder="I love leemur") }}
                            </div>
                        </div>

                        <div class="card-footer">
                            <button class="btn btn--radius-2 btn--blue-2">
                                Save
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js_files %}
    <!--===============================================================================================-->
	<script src="/static/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="/static/js/settings.js"></script>
    <!--===============================================================================================-->
{% endblock %}