{% extends 'main/base.html' %}

{% block head %}
    <title>Settings</title>
    <!--===============================================================================================-->
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicons/settings.png"/>
    <!--===============================================================================================-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/css/settings.css">
    <!--===============================================================================================-->
{% endblock %}

{% block content %}
    <div class="page-wrapper p-b-50">
        <div class="wrapper wrapper--w900">
            <div class="card card-6">
                <div class="card-heading">
                    <ul>
                        <li id="title1">
                            <a href="{{ url_for('settings.profile') }}">
                                <h2 class="title" style="color: #2c6ed5">Profile</h2>
                            </a>
                        </li>

                        <li id="title2">
                            <a href="{{ url_for('settings.security') }}">
                                <h2 class="title">Security</h2>
                            </a>
                        </li>

                        <li id="title3">
                            <a href="{{ url_for('settings.about') }}">
                                <h2 class="title" >About you</h2>
                            </a>
                        </li>
                    </ul>

                </div>
                <div class="card-body">
                    <form enctype="multipart/form-data" action="" method="post" novalidate>
                        {{ form.hidden_tag() }}
                        <div class="form-row">
                            <div class="name">{{ form.name.label }}</div>
                            <div class="value">
                                {{ form.name(class="input--style-6", placeholder="Ivan") }}
                            </div>
                            <div class="error">
                                {% for error in form.name.errors %}
                                    <p id="errors">[{{ error }}]</p>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="name">{{ form.surname.label }}</div>
                            <div class="value">
                                <div class="input-group">
                                    {{ form.surname(class="input--style-6", placeholder="Ivanov") }}
                                </div>
                            </div>
                            <div class="error">
                                {% for error in form.surname.errors %}
                                    <p id="errors">[{{ error }}]</p>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="name">{{ form.nick.label }}</div>
                            <div class="value">
                                <div class="input-group">
                                    {{ form.nick(class="input--style-6", placeholder="Ivan228") }}
                                </div>
                            </div>
                            <div class="error">
                                {% for error in form.nick.errors %}
                                    <p id="errors">[{{ error }}]</p>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="name">{{ form.age.label }}</div>
                            <div class="value">
                                <div class="input-group">
                                    {{ form.age(class="input--style-6", placeholder="23") }}
                                </div>
                            </div>
                            <div class="error">
                                {% for error in form.age.errors %}
                                    <p id="errors">[{{ error }}]</p>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="name">{{ form.email.label }}</div>
                            <div class="value">
                                <div class="input-group">
                                    {{ form.email(class="input--style-6", placeholder="somename@mail.com") }}
                                </div>
                            </div>
                            <div class="error">
                                {% for error in form.email.errors %}
                                    <p id="errors">[{{ error }}]</p>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="name">{{ form.address.label }}</div>
                            <div class="value">
                                <div class="input-group">
                                    {{ form.address(class="input--style-6", placeholder="Belarus, Minsk") }}
                                </div>
                            </div>
                            <div class="error">
                                {% for error in form.address.errors %}
                                    <p id="errors">[{{ error }}]</p>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="name">{{ form.photo.label }}</div>
                            <div class="value">
                                <div class="input-group js-input-file">
                                    {{ form.photo(accept=".jpg, .jpeg, .png") }}
                                    <button class="input-file" type="button">
                                        Choose file
                                    </button>
                                    <span class="input-file__info">No file chosen</span>
                                </div>
                                <div class="label--desc">Upload your photo. Max photo size 5 MB</div>
                            </div>
                        </div>

                        <div class="card-footer">
                            <button class="btn btn--radius-2 btn--blue-2">
                                Save
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js_files %}
    <!--===============================================================================================-->
	<script src="/static/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="/static/js/settings.js"></script>
    <!--===============================================================================================-->
{% endblock %}
