<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
    <link rel="shortcut icon" type="image/x-icon" href="/static/favicons/login.png"/>
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/css/auth/login_and_reg_util.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/css/auth/login_and_reg.css">
<!--===============================================================================================-->
</head>
<body>

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form-title" style="background-image: url(static/images/login.jpg);">
					<span class="login100-form-title-1">
						Sign In
					</span>
				</div>

				<form class="login100-form validate-form" action="" method="post" novalidate>
                    {{ form.hidden_tag() }}
					<div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
						<span class="label-input100">Nick or email</span>
                        {{ form.login(size=26, class="input100", placeholder="Enter username") }}
						<span class="focus-input100"></span>
					</div>
                    <div class="error1">
                        {% for error in form.login.errors %}
                            <p id="error">[{{ error }}]</p>
                        {% endfor %}
                    </div>

					<div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
						<span class="label-input100">Password</span>
                        {{ form.password(size=26, class="input100", placeholder="Enter password") }}
						<span class="focus-input100"></span>
					</div>
                    <div class="error2">
                        {% for error in form.password.errors %}
                            <p id="error">[{{ error }}]</p>
                        {% endfor %}
                    </div>


					<div class="flex-sb-m w-full p-b-30">
						<div class="contact100-form-checkbox">
                            {{ form.remember(class="input-checkbox100") }}
							<label class="label-checkbox100" for="remember">
								Remember me
							</label>
						</div>

						<div>
							<a href="{{ url_for('auth.reset_password_request') }}" class="txt1">
								Forgot Password?
							</a>
						</div>
                        <div>
							<a href="{{ url_for('auth.registration') }}" class="txt1">
								Registration
							</a>
						</div>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Login
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>

<!--===============================================================================================-->
	<script src="/static/vendor/js/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/js/login.js"></script>
<!--===============================================================================================-->
</body>
</html>