<!DOCTYPE html>
<html lang="en">
<head>
    <title>Registration</title>
    <meta charset="UTF-8">
    <meta name="yandex-verification" content="9373fb38857cf709"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/static/favicons/registration.png"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/vendor/css/bootstrap4.1.1.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/vendor/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/vendor/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/css/auth/utils.css">
    <link rel="stylesheet" type="text/css" href="/static/css/auth/base.css">
    <!--==============================================================================================-->
</head>
<body>
<div class='toast' style='display:none'>
    You have been registered
</div>

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
       (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
       m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
       (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

       ym(56338147, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true
       });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/56338147" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-35 p-b-30">
            <form class="login100-form validate-form">
					<span class="login100-form-title p-b-49">
						Registration
					</span>

                <div class="wrap-input100 validate-input m-b-10 name-input-div" data-validate="Name is required">
                    <span class="label-input100">Name</span>
                    <input class="input100 name-input" type="text" name="name" placeholder="Enter name">
                    <span class="focus-input100" data-symbol="&#xf206;"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-10 surname-input-div" data-validate="Surname is required">
                    <span class="label-input100">Surname</span>
                    <input class="input100 surname-input" type="text" name="surname" placeholder="Enter surname">
                    <span class="focus-input100" data-symbol="&#xf20C;"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-10 username-input-div" data-validate="Username is required">
                    <span class="label-input100">Username</span>
                    <input class="input100 username-input" type="text" name="username" placeholder="Enter username">
                    <span class="focus-input100" data-symbol="&#xf194;"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-10 email-input-div" data-validate="Email is required">
                    <span class="label-input100">Email</span>
                    <input class="input100 email-input" type="text" name="email" placeholder="Enter email">
                    <span class="focus-input100" data-symbol="&#xf15A;"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-10 password-input-div" data-validate="Password is required">
                    <span class="label-input100">Password</span>
                    <input class="input100 password-input" type="password" name="pass" placeholder="Enter password">
                    <span class="focus-input100" data-symbol="&#xf190;"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-20 confirm_password-input-div" data-validate="Password is required">
                    <span class="label-input100">Confirm password</span>
                    <input class="input100 confirm_password-input" type="password" name="confirm_pass" placeholder="Confirm password">
                    <span class="focus-input100" data-symbol="&#xf1B9;"></span>
                </div>

                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn registration-btn">
                            Registration
                        </button>
                    </div>
                </div>

                <div class="flex-col-c p-t-30">
                    <a href="{{ url_for('auth.login') }}" class="txt2"> Sign in </a>
                </div>
            </form>
        </div>
    </div>
</div>

<!--===============================================================================================-->
<script src="/static/vendor/js/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="/static/js/main/base.js"></script>
<script src="/static/js/auth/registration.js"></script>
<!--===============================================================================================-->
</body>
</html>