<!DOCTYPE html>
<html lang="en">
<head>
	<title>Registration</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
    <link rel="shortcut icon" type="image/x-icon" href="/static/favicons/registration.png"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/css/auth/login_and_reg_util.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/css/auth/login_and_reg.css">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/css/auth/registration.css">
<!--===============================================================================================-->
</head>
<body>

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form-title" style="background-image: url(static/images/registration.png);">
					<span class="login100-form-title-1">
						Registration Form
					</span>
				</div>

				<form class="login100-form validate-form" action="" method="post" novalidate>
                    {{ form.hidden_tag() }}

					<div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
						<span class="label-input100"> {{form.name.label}} </span>
                          {{ form.name(size=26, class="input100", placeholder="Enter name") }}
						<span class="focus-input100"></span>
					</div>
                    <div class="error">
                        {% for error in form.name.errors %}
                            <p id="errors">[{{ error }}]</p>
                        {% endfor %}
                    </div>

					<div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
						<span class="label-input100"> {{form.surname.label}} </span>
                          {{ form.surname(size=26, class="input100", placeholder="Enter surname") }}
						<span class="focus-input100"></span>
					</div>
                    <div class="error">
                        {% for error in form.surname.errors %}
                            <p id="errors">[{{ error }}]</p>
                        {% endfor %}
                    </div>

					<div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
						<span class="label-input100"> {{form.nick.label}} </span>
                          {{ form.nick(size=26, class="input100", placeholder="Enter nick") }}
						<span class="focus-input100"></span>
					</div>
                    <div class="error">
                        {% for error in form.nick.errors %}
                            <p id="errors">[{{ error }}]</p>
                        {% endfor %}
                    </div>

                    <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
						<span class="label-input100"> {{form.age.label}} </span>
                          {{ form.age(size=26, class="input100", placeholder="Enter age") }}
						<span class="focus-input100"></span>
					</div>
                    <div class="error">
                        {% for error in form.age.errors %}
                            <p id="errors">[{{ error }}]</p>
                        {% endfor %}
                    </div>

                    <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
						<span class="label-input100"> {{form.email.label}} </span>
                          {{ form.email(size=26, class="input100", placeholder="Enter email") }}
						<span class="focus-input100"></span>
					</div>
                    <div class="error">
                        {% for error in form.email.errors %}
                            <p id="errors">[{{ error }}]</p>
                        {% endfor %}
                    </div>

                    <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
						<span class="label-input100"> {{form.password.label}} </span>
                          {{ form.password(size=26, class="input100", placeholder="Enter password") }}
						<span class="focus-input100"></span>
					</div>
                    <div class="error">
                        {% for error in form.password.errors %}
                            <p id="errors">[{{ error }}]</p>
                        {% endfor %}
                    </div>

                    <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
						<span class="label-input100"> {{ form.confirm_password.label }} </span>
                          {{ form.confirm_password(size=26, class="input100", placeholder="Confirm password") }}
						<span class="focus-input100"></span>
					</div>
                    <div class="error">
                        {% for error in form.confirm_password.errors %}
                            <p id="errors">[{{ error }}]</p>
                        {% endfor %}
                    </div>

                    <div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Registration
						</button>
                    </div>

                    <div id="have-account">
                        <a href="{{ url_for('auth.login') }}">I have an account</a>
                    </div>
                </form>
			</div>
		</div>
	</div>

<!--===============================================================================================-->
	<script src="/static/vendor/js/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/js/login.js"></script>
<!--===============================================================================================-->
</body>
</html>