<!DOCTYPE html>
<html lang="en">
<head>
	<title>Reset password</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicons/login.png"/>
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/css/auth/login_and_reg_util.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/css/auth/login_and_reg.css">
<!--===============================================================================================-->
</head>
<body>

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form-title" style="background-image: url(static/images/login.jpg);">
					<span class="login100-form-title-1">
						Reset password
					</span>
				</div>

				<form class="login100-form validate-form" action="" method="post" novalidate>
                    {{ form.hidden_tag() }}

					<div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
						<span class="label-input100" style="text-align: center">{{ form.new_password.label }}</span>
                        {{ form.new_password(size=26, class="input100", placeholder="Enter new password") }}
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
						<span class="label-input100" style="text-align: center; margin-top: -20px">{{ form.confirm_password.label }}</span>
                        {{ form.confirm_password(size=26, class="input100", placeholder="Confirm new password") }}
						<span class="focus-input100"></span>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Save
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>

<!--===============================================================================================-->
	<script src="/static/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/js/login.js"></script>
<!--===============================================================================================-->
</body>
</html>