/logs/
/migrations/
/venv/
/app.db
/app/static/Data/UsersPhotos/1.JPG
/.idea/dataSources/4b43514c-480a-43c4-b276-5c9cd3e6e430.xml
/.idea/dataSources/bf03b4c4-3070-4b95-9994-154c15f203e1.xml
/.idea/codeStyles/codeStyleConfig.xml
/.idea/dataSources.local.xml
/.idea/dataSources.xml
