<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/css/errors/404.css">
    </head>
    <body>
    <div class="container">
            <div class="row">
                <div class="xs-12 md-6 mx-auto">
                    <div id="countUp">
                        <div class="number" data-count="404">0</div>
                        <div class="text">Page not found</div>
                        <div class="text">This may not mean anything.</div>
                        <div class="text">I'm probably working on something that has blown up.</div>
                    </div>
                </div>
            </div>
        </div>
        <script src="/static/vendor/jquery/jquery-3.2.1.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdn.3up.dk/in-view@0.6.1"></script>
        <script type="text/javascript" src="/static/js/404.js"></script>
    </body>
</html>