.big_table {
    overflow-x: auto;
    max-height: 90%;
    margin-top: 15px;
}

thead {
  border-top: 2px solid white;
}

th span {
  color: white;
}

tbody tr:hover{
    background-color: rgba(0,0,0,0.3);
    cursor: pointer;
}

.table tbody tr td {
    vertical-align: middle;
    color: gainsboro;
}

.name_surname {
    margin-left: 10px;
}

.input-group input {
    width: 100px;
}