.container {
    max-height: 100%;
}

.big_table {
    margin-top: 15px;
    max-height: 91%;
    overflow-x: hidden;
}

thead {
    border-top: 2px solid white;
}

th span {
    color: white;
}

tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.table tbody tr td {
    vertical-align: middle;
    color: gainsboro;
}

.name_surname {
    margin-left: 10px;
}

.search_input {
    margin-top: 15px;
}

.search_input input {
    width: 100px;
}

.status_online, .status_offline {
    padding: 1px 5px 1px 5px;
    border-radius: 20px;
}

.status_online {
    color: black;
    background-color: mediumseagreen;
}

.status_offline {
    background-color: indianred;
}
