.search-box{
	margin-top: auto;
	margin-bottom: auto;
}

.small-profile-box{
	margin-top: auto;
	margin-bottom: auto;
}

.table {
  margin-top: 20px;
}

thead {
  border-top: 2px solid white;
}

th span {
  color: white;
}

tbody tr:hover{
    background-color: rgba(0,0,0,0.3);
    cursor: pointer;
}

.table tbody tr td {
    vertical-align: middle;
    color: gainsboro;
}

.name_surname {
    margin-left: 10px;
}

.small-profile-box .photo-preview {
  margin-top: 20px;
  text-align: center;
}

.small-profile-box .photo-preview img {
  max-height: 20em;
  max-width: 20em;
  min-height: 10em;
  min-width: 10em;
}

#action_menu_btn{
	position: absolute;
	right: 10px;
	top: 10px;
	color: white;
	cursor: pointer;
	font-size: 20px;
}
.action_menu{
	z-index: 1;
	position: absolute;
	padding: 15px 0;
	background-color: rgba(0,0,0,0.5);
	color: white;
	border-radius: 15px;
	top: 30px;
	right: 15px;
	display: none;
}
.action_menu ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.action_menu ul a{
	text-decoration: none;
	color: white;
}
.action_menu ul li{
	width: 100%;
	padding: 10px 15px;
	margin-bottom: 5px;
}
.action_menu ul li i{
	padding-right: 10px;

}
.action_menu ul li:hover{
	cursor: pointer;
	background-color: rgba(0,0,0,0.2);
}