.additional_page .form-v10 {
    width: 100%;
    height: 100%;
}

.additional_page .page-content {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -o-align-items: center;
    -ms-align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
}

.form-v10-content {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
}

.form-v10-content .form-detail {
    width: 100%;
    height: 100%;
    margin-left: 5%;
    position: relative;
}

.form-v10-content .form-detail .left-form {
    width: 50%;
}

.form-v10-content .form-detail .right-form {
    width: 50%;
}

.form-v10-content .form-detail h2 {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 30px;
}

.form-v10-content .form-detail .form-left {
    width: 80%;
    padding-top: 30px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.form-v10-content .form-detail .form-right {
    width: 80%;
    margin-left: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.form-v10-content .form-detail .form-left h2,
.form-v10-content .form-detail .form-right h2 {
    color: #fff;
}

.form-v10-content .form-detail .form-group {
    margin-bottom: -1px;
    display: -webkit-flex;
}

.form-v10-content .form-detail .form-row {
    padding: 0;
    position: relative;
    margin-bottom: 24px;
}

.form-v10-content .form-detail .form-row-choose-photo {
    position: relative;
    margin-bottom: 24px;
}

.form-v10-content .form-detail .form-left .choose-photo input {
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 2;
    color: transparent;
    position: absolute;
    filter: alpha(opacity=0);
    background-color: transparent;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.form-v10-content .form-detail .form-left .choose-photo .photo-path {
    margin-left: 5px;
}

.form-v10-content .form-detail .form-row-choose-photo-link:hover {
    cursor: pointer;
}

.form-v10-content .form-detail .form-left .form-group .form-row.form-row-1 {
    width: 48%;
    margin-right: 5%;
}

.form-v10-content .form-detail .form-left .form-group .form-row.form-row-2 {
    width: 48%;
}

.form-v10-content .form-detail .form-left .form-group .form-row.form-row-3 {
    width: 100%;
}

.form-v10-content .form-detail .form-left .form-group .form-row.form-row-4 {
    width: 48%;
    margin-right: 5%;
}

.form-v10-content .form-detail .form-left .form-group .form-row.form-row-5 {
    width: 48%;
}

.form-v10-content .form-detail .form-left .form-group .form-row.form-row-6 {
    width: 100%;
}

.form-v10-content .form-detail .form-right .form-group .form-row.form-row-1,
.form-v10-content .form-detail .form-right .form-group .form-row.form-row-2,
.form-v10-content .form-detail .form-right .form-group .form-row.form-row-3 {
    width: 100%;
}

.form-v10-content .form-detail input {
    width: 100%;
    padding: 11.5px 15px 15px 15px;
    border: 1px solid transparent;
    background: transparent;
    appearance: unset;
    -moz-appearance: unset;
    -webkit-appearance: unset;
    -o-appearance: unset;
    -ms-appearance: unset;
    outline: none;
    -moz-outline: none;
    -webkit-outline: none;
    -o-outline: none;
    -ms-outline: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

.form-v10-content .form-detail .form-left input {
    color: #fff;
}

.form-v10-content .form-detail .form-right input {
    color: #fff;
}

.form-v10-content .form-detail .form-left input {
    border-bottom: 1px solid #ccc;
}

.form-v10-content .form-detail .form-right input {
    border-bottom: 1px solid #ccc;
}

.form-v10-content .form-detail .form-left input:focus {
    border-bottom: 1px solid #999;
}

.form-v10-content .form-detail .form-right input:focus {
    border-bottom: 1px solid #999;
}

.form-v10-content .form-detail .form-row-last {
    margin-top: 10px;
    text-align: center;
}

.form-v10-content .form-detail .form-left .save-information {
    background: #fff;
    border-radius: 25px;
    -o-border-radius: 25px;
    -ms-border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.15);
    width: 180px;
    border: none;
    cursor: pointer;
    color: #333;
    font-weight: 700;
    font-size: 15px;
}

.form-v10-content .form-detail .form-left .save-information:hover {
    color: grey;
}

.form-v10-content .form-detail .form-right .save-password {
    background: #fff;
    border-radius: 25px;
    -o-border-radius: 25px;
    -ms-border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.15);
    width: 180px;
    border: none;
    cursor: pointer;
    color: #333;
    font-weight: 700;
    font-size: 15px;
}

.form-v10-content .form-detail .form-right .save-password:hover {
    color: grey;
}

.form-v10-content .form-detail .form-left .save-information:hover {
    background: #fff;
}

.form-v10-content .form-detail .form-right .save-password:hover {
    background: #fff;
}

.form-v10-content .form-detail .form-row-last input {
    padding: 12.5px;
}

.form-v10-content .form-detail .form-left input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #fff;
    font-size: 16px;
}

.form-v10-content .form-detail .form-left input::-moz-placeholder { /* Firefox 19+ */
    color: lightgrey;
    font-size: 16px;
}

.form-v10-content .form-detail .form-left input:-ms-input-placeholder { /* IE 10+ */
    color: #fff;
    font-size: 16px;
}

.form-v10-content .form-detail .form-left input:-moz-placeholder { /* Firefox 18- */
    color: lightgrey;
    font-size: 16px;
}

.form-v10-content .form-detail .form-right input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #fff;
    font-size: 16px;
}

.form-v10-content .form-detail .form-right input::-moz-placeholder { /* Firefox 19+ */
    color: lightgrey;
    font-size: 16px;
}

.form-v10-content .form-detail .form-right input:-ms-input-placeholder { /* IE 10+ */
    color: #fff;
    font-size: 16px;
}

.form-v10-content .form-detail .form-right input:-moz-placeholder { /* Firefox 18- */
    color: lightgrey;
    font-size: 16px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.validate-input {
    position: relative;
}

.alert-validate:before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: white;
    border-radius: 7px;
    padding: 4px 25px 4px 10px;
    bottom: calc((100% + 10px) / 2);
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
    transform: translateY(50%);
    right: 2px;
    pointer-events: none;

    font-family: Poppins-Regular;
    color: black;
    font-size: 14px;
    line-height: 1.4;
    text-align: left;

    visibility: hidden;
    opacity: 0;

    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.alert-validate::after {
    content: "\f06a";
    font-family: FontAwesome;
    display: block;
    position: absolute;
    color: #00a3b6;
    font-size: 16px;
    bottom: calc((100% + 10px) / 2);
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
    transform: translateY(50%);
    right: 8px;
}

.alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 992px) {
    .alert-validate::before {
        visibility: visible;
        opacity: 1;
    }
}