{% extends 'main/base.html' %}

{% block head %}
    <title>Add to queue</title>
     <!--===============================================================================================-->
    <link rel="shortcut icon" type="image/x-icon" href="/static/favicons/profile.png"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/css/main/add_to_queue.css">
    <!--===============================================================================================-->
{% endblock %}

{% block content %}
    {{ moment.include_jquery() }}

    <div class="main">
        <select class="form-control form-control-lg">
            <option data-id="1">1 lab</option>
            <option data-id="2">2 lab</option>
            <option data-id="3">3 lab</option>
            <option data-id="4">4 lab</option>
            <option data-id="5">5 lab</option>
            <option data-id="6">6 lab</option>
        </select>
      <button type="submit" class="btn btn-info">Submit</button>
    </div>

{% endblock %}

{% block js_files %}
	<script src="/static/js/main/add_to_queue.js"></script>
{% endblock %}