<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add to queue</title>
    <link rel="shortcut icon" type="image/x-icon" href="/static/favicons/chat.png"/>
    <link href="/static/vendor/css/bootstrap4.1.1.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" type="text/css" href="/static/css/main/add_to_queue.css">
</head>
<body>
    <div class="main">
        <select class="form-control form-control-lg">
            <option data-id="1">1</option>
            <option data-id="2">2</option>
            <option data-id="3">3</option>
            <option data-id="4">4</option>
            <option data-id="5">5</option>
            <option data-id="6">6</option>
        </select>
      <button type="submit" class="btn btn-info">Submit</button>
    </div>
<!--===============================================================================================-->
	<script src="/static/vendor/js/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/js/main/base.js"></script>
	<script src="/static/js/main/add_to_queue.js"></script>
<!--===============================================================================================-->
</body>
</html>