<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8'>
        <meta name="robots" content="noindex">

        {% block head %} {% endblock %}

        <!--===============================================================================================-->
        <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet' type='text/css'>
        <!--===============================================================================================-->
        <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'>
        <!--===============================================================================================-->
        <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="/static/css/main/base.css">
        <!--===============================================================================================-->
        <script src="https://use.typekit.net/hoy3lrg.js"></script>
    </head>

    <body>

        <!-- Page Preloder -->
        <div id="preloder">
            <div class="loader"></div>
        </div>

        <div id="frame">
            <div id="sidepanel">

                <div id="profile">
                    <div class="wrap">
                        <a href="{{ url_for('main.profile', nick=current_user.nick) }}">
                            <img id="profile-img" src= {{ current_user.photo }} class="online" alt="" />
                        </a>
                        <p>{{ current_user.name }} {{ current_user.surname }}</p>
                    </div>
                </div>

                <div id="search">
                    <label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
                    <form action="" method="post" novalidate>
                        {{ base_form.hidden_tag() }}
                        {{ base_form.request(type="text", placeholder="Search chat...") }}
                    </form>
                </div>

                <div id="contacts">
                    <ul>
                        {% for room in rooms %}
                            <a href={{ url_for('main.chat', room_id=room.id) }}>
                                <li class="contact">
                                    <div class="wrap">
                                        {% if room.is_dialog %}
                                            {% set recipient = room.get_recipient(current_user) %}
                                            <span class="contact-status {{ 'online' if recipient.status else 'offline' }}"></span>

                                            <img src= {{ recipient.photo }} alt="" />

                                            <div class="meta">
                                                <p class="name"> {{ recipient.name }} {{ recipient.surname }} </p>
                                                <p class="preview">
                                                    <span> {{ room.get_last_message() }} </span>
                                                </p>
                                            </div>
                                        {% else %}
                                            <img src= {{ room.photo }} alt="" />

                                            <div class="meta">
                                                <p class="name"> {{ room.title }} </p>
                                                <p class="preview">
                                                    <span> {{ room.get_last_message() }} </span>
                                                </p>
                                            </div>
                                        {% endif %}
                                    </div>
                                </li>
                            </a>
                        {% endfor %}
                    </ul>
                </div>

                <div id="bottom-bar">
                    <a href="{{ url_for('main.search') }}">
                        <button id="addcontact">
                            <i class="fa fa-user-plus fa-fw" aria-hidden="true"></i>
                            <span>Find contact</span>
                        </button>
                    </a>

                    <a href="{{ url_for('settings.profile') }}">
                        <button id="settings">
                            <i class="fa fa-cog fa-fw" aria-hidden="true"></i>
                            <span>Settings</span>
                        </button>
                    </a>
                </div>
            </div>
            <img src="" alt="">

            {% block content %}{% endblock %}

        </div>

        <!--===============================================================================================-->
	    <script src="/static/vendor/jquery/jquery-3.2.1.min.js"></script>
        <!--===============================================================================================-->
        {% block js_files %}{% endblock %}
        <!--===============================================================================================-->
        <script type="text/javascript" src="/static/js/base.js"></script>
        <!--===============================================================================================-->
    </body>
</html>
