{% extends 'main/base.html' %}

{% block head %}
    <title>Messages</title>
    <!--===============================================================================================-->
    <link rel="shortcut icon" type="image/x-icon" href="/static/favicons/chat.png"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/css/main/chat.css">
    <!--===============================================================================================-->
{% endblock %}

{% block main %}
    {{ moment.include_jquery() }}
    {{ moment.include_moment() }}

    <!-- HEAD -->
    <div class="card-header msg_head">
        <div class="d-flex bd-highlight chat_user_header">
        </div>
    </div>

    <!-- DIALOG -->
    <div class="card-body msg_card_body" id="chatController">
    </div>

    <!-- INPUT -->
    <div class="card-footer">
        <div class="input-group-append">
            <div class="input-group-append">
                <span class="input-group-text attach_btn">
{#                    <i class="fas fa-paperclip"></i>#}
                </span>
            </div>
            <textarea autofocus='autofocus' name="" class="form-control type_msg" placeholder="Type your message..."></textarea>
            <div class="input-group-append">
                <span class="input-group-text send_btn"><i class="fas fa-location-arrow"></i></span>
            </div>
        </div>
    </div>
{% endblock %}

{% block js_files %}
    <script src="/static/js/main/chat.js"></script>
{% endblock %}