{% extends 'main/base.html' %}

{% block head %}

    <title>Chat with {{ title }}</title>
    <!--===============================================================================================-->
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicons/profile.png"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/css/main/chat.css">
    <!--===============================================================================================-->
{% endblock %}

{% block content %}
    {{ moment.include_jquery() }}
    {{ moment.include_moment() }}
    <div class="content">

        <div class="contact-profile">
            <a href="{{ url_for('main.profile', nick=recipient.nick) }}">
                <img src={{ recipient.photo }} alt="" />
            </a>

            <p> {{ title }} </p>

            <div id="logout">
                <a href="{{ url_for('auth.logout') }}">Logout</a>
            </div>
        </div>

        <div class="messages">
            <ul>
            {% for message in messages %}
                {% if message.sender.id == current_user.id %}
                    <li class="sent">
                {% else %}
                    <li class="replies">
                {% endif %}
                        <img src="{{ message.sender.photo }}" alt="" >

                        <p> {{ message.text }} </p>

                        {% if message.is_over_a_day %}
                            <span>{{ moment(message.time).format('MMMM Do, h:mm a') }}</span>
                        {% else %}
                            <span>{{ moment(message.time).format('h:mm a') }}</span>
                        {% endif %}
                    </li>
            {% endfor %}
            </ul>
        </div>

        <div class="message-input">
            <div class="wrap">
                <form action="" method="post" novalidate>
                    {{ form.hidden_tag() }}
                    {{ form.message() }}
                    <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
                    <button class="submit">
                        <i class="fa fa-paper-plane" aria-hidden="true"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block js_files %}
    <script type="text/javascript" src="/static/js/chat.js"></script>
{% endblock %}