{% extends 'main/base.html' %}

{% block head %}
    <title>Chat with {{ title }}</title>
    <!--===============================================================================================-->
    <link rel="shortcut icon" type="image/x-icon" href="/static/favicons/chat.png"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/css/main/chat.css">
    <!--===============================================================================================-->
{% endblock %}

{% block content %}
    {{ moment.include_jquery() }}
    {{ moment.include_moment() }}

    <!-- HEAD -->
    <div class="card-header msg_head">
        <div class="d-flex bd-highlight">
            <div class="img_cont">
                <img src="{{ recipient.photo }}" class="rounded-circle user_img" ng-click="resizeObjectsWithInformation({{ '\'' + recipient.username + '\'' }})" />
                <span class="online_icon {{ 'online' if recipient.status else 'offline' }}"></span>
            </div>
            <div class="user_info">
                <span>{{ recipient.name + ' ' + recipient.surname }}</span>
                <p class="username">{{ 'Username: ' + recipient.username }}</p>
            </div>
        </div>
    </div>

    <!-- DIALOG -->
    <div class="card-body msg_card_body" id="chatController" ng-controller="chatController">
        {% for message in messages %}
            {% if message.sender.id == current_user.id %}
                <div class="d-flex justify-content-end mb-4">
                    <div class="msg_cotainer_send">
                        <p class="text">{{ message.text }}</p>
                        <span class="msg_time_send">
                            {% if message.is_over_a_day %}
                                {{ moment(message.time).format('MMMM Do, h:mm a') }}
                            {% else %}
                                {{ moment(message.time).format('h:mm a') }}
                            {% endif %}
                        </span>
                    </div>

                    <div class="img_cont_msg">
                        <img src="{{ message.sender.photo }}" class="rounded-circle user_img_msg" ng-click="resizeObjectsWithInformation({{ '\'' + message.sender.username + '\'' }})">
                    </div>
                </div>
            {% else %}
                <div class="d-flex justify-content-start mb-4">
                    <div class="img_cont_msg">
                        <img src="{{ message.sender.photo }}" class="rounded-circle user_img_msg" ng-click="resizeObjectsWithInformation({{ '\'' + message.sender.username + '\'' }})">
                    </div>

                    <div class="msg_cotainer">
                        <p class="text">{{ message.text }}</p>
                        <span class="msg_time">
                            {% if message.is_over_a_day %}
                                {{ moment(message.time).format('MMMM Do, h:mm a') }}
                            {% else %}
                                {{ moment(message.time).format('h:mm a') }}
                            {% endif %}
                        </span>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <!-- INPUT -->
    <div class="card-footer">
        <div class="input-group-append">
            <div class="input-group-append">
                <span class="input-group-text attach_btn">{#<i class="fas fa-paperclip"></i>#}</span>
            </div>
            <textarea autofocus='autofocus' name="" class="form-control type_msg" placeholder="Type your message..."></textarea>
            <div class="input-group-append">
                <span class="input-group-text send_btn"><i class="fas fa-location-arrow"></i></span>
            </div>
        </div>
    </div>
{% endblock %}

{% block js_files %}
    <script type="text/javascript" src="/static/js/main/chat.js"></script>
{% endblock %}