<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Queue</title>
    <link rel="shortcut icon" type="image/x-icon" href="/static/favicons/chat.png"/>
    <link href="/static/vendor/css/bootstrap4.1.1.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" type="text/css" href="/static/css/main/queue.css">
</head>
<body>
<div class="main">
    <p class="ready">Ready?</p>
    <label class="switch">
        <input type="checkbox">
        <span class="slider"></span>
    </label>
    <table class="table">
          <thead class="thead-dark">
            <tr>
                <th scope="col">№</th>
                <th scope="col">Name</th>
                <th scope="col">Lab №</th>
                <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
    </table>
</div>
<!--===============================================================================================-->
	<script src="/static/vendor/js/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/js/main/base.js"></script>
	<script src="/static/js/main/queue.js"></script>
<!--===============================================================================================-->
</body>
</html>