{% extends 'main/base.html' %}

{% block head %}
    <title>Queue</title>
     <!--===============================================================================================-->
    <link rel="shortcut icon" type="image/x-icon" href="/static/favicons/profile.png"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/css/main/queue.css">
    <!--===============================================================================================-->
{% endblock %}

{% block content %}
    {{ moment.include_jquery() }}

    <div class="limiter">
        <div class="some-slider">
            <p class="ready">Ready?</p>
            <label class="switch">
                <input type="checkbox" id="checkbox" value="1">
                <span class="slider"></span>
            </label>
        </div>
        <div class="container-table100">
            <div class="wrap-table100">
                <div class="table100 ver1 m-b-110">
                    <div class="table100-head">
                        <table>
                            <thead>
                                <tr class="row100 head">
                                    <th class="cell100 column1">№</th>
                                    <th class="cell100 column2">Name</th>
                                    <th class="cell100 column3">Lab №</th>
                                    <th class="cell100 column4">Status</th>
                                </tr>
                            </thead>
                        </table>
                    </div>


                    <div class="table100-body js-pscroll">
                        <table>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
        <button type="button" class="btn btn-danger leave">Leave the queue</button>
    </div>

{% endblock %}

{% block js_files %}
    <script src="/static/js/main/queue.js"></script>
{% endblock %}
