{% extends 'main/base.html' %}

{% block head %}
    <title>Queue</title>
     <!--===============================================================================================-->
    <link rel="shortcut icon" type="image/x-icon" href="/static/favicons/profile.png"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/css/main/queue.css">
    <!--===============================================================================================-->
{% endblock %}

{% block content %}
    {{ moment.include_jquery() }}

   <div class="main">
        <p class="ready">Ready?</p>
        <label class="switch">
            <input type="checkbox" id="checkbox" value="1">
            <span class="slider"></span>
        </label>
        <table class="table">
              <thead class="thead-dark">
                <tr>
                    <th scope="col">№</th>
                    <th scope="col">Name</th>
                    <th scope="col">Lab №</th>
                    <th scope="col">Status</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
        </table>
    </div>

{% endblock %}

{% block js_files %}
	<script src="/static/js/main/queue.js"></script>
{% endblock %}