{% extends 'main/base.html' %}

{% block head %}
    <title>Find contact</title>
    <!--===============================================================================================-->
    <link rel="shortcut icon" type="image/x-icon" href="/static/favicons/search.png"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" href="/static/css/main/search.css"/>
    <!--===============================================================================================-->
{% endblock %}

{% block content %}
    {{ moment.include_jquery() }}

    {# Content of card #}
    <div class="container">
        {# Search line #}
        <div class="input-group">
            <div class="input-group">
                <input type="text" placeholder="Search new friend..." class="form-control search search-person-input">
                <span class="input-group-text search_btn search-person"><i class="fas fa-search"></i></span>
            </div>
        </div>

        <div class="big_table">
            <table class="table user-list">
                <thead>
                    <tr>
                        <th><span>User</span></th>
                        <th><span>Age</span></th>
                        <th class="text-center"><span>Status</span></th>
                        <th><span>Email</span></th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr data-href="{{ user.username }}">
                            <td>
                                <img src="{{ user.photo }}" alt="" class="rounded-circle user_img">
                                <span class="name_surname"> {{ user.name }} {{ user.surname }} </span>
                            </td>

                            <td>{{ user.age }}</td>

                            <td class="text-center">
                                {% if user.status %}
                                    <span class="label label-success">Online</span>
                                {% else %}
                                    <span class="label label-default">Offline</span>
                                {% endif %}
                            </td>

                            <td>
                                <span>{{ user.email }}</span>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block js_files %}
    <script src="/static/js/main/search.js"></script>
{% endblock %}