{% extends 'main/base.html' %}

{% block head %}
    <meta charset="utf-8">
    <title>Settings</title>
    <!--===============================================================================================-->
    <link rel="shortcut icon" type="image/x-icon" href="/static/favicons/settings.png"/>
    <!--===============================================================================================-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/vendor/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" href="/static/css/main/settings.css"/>
{% endblock %}

{% block main %}
    {{ moment.include_jquery() }}

    <div class="form-v10">
        <div class="page-content">
            <div class="form-v10-content">
                <div class="form-detail">
                    {# LEFT #}
                    <form class="left-form" action="#" method="post" id="myform">
                        <div class="form-left">
                            <h2>General Infomation</h2>
                            <div class="form-group">
                                <div class="form-row form-row-1 validate-input">
                                    <input type="text" name="first_name" id="first_name" class="input100 name-field" placeholder="First Name">
                                </div>
                                <div class="form-row form-row-2 validate-input">
                                    <input type="text" name="last_name" id="last_name" class="input100 surname" placeholder="Last Name">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="form-row form-row-3 validate-input">
                                    <input type="text" name="username" class="input100 username" id="username" placeholder="Username">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="form-row form-row-4 validate-input">
                                    <input type="text" name="email" class="input100 email" id="email" placeholder="Email">
                                </div>
                                <div class="form-row form-row-5 validate-input">
                                    <input type="number" name="age" id="age" class="input100 age" placeholder="Age">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="form-row form-row-6 validate-input">
                                    <input type="text" name="address" class="input100 address " id="address" placeholder="Address">
                                </div>
                            </div>

                            <div class="form-row-choose-photo choose-photo">
                                <a class='btn btn-info choose-photo-link' href='#'> Choose Photo... </a>
                                <span class='badge badge-pill badge-info photo-path' id="upload-file-info"></span>
                                <input accept=".jpg, .jpeg, .png" name="file_source" size="40" type="file" hidden="true">
                            </div>

                            <div class="form-row-last">
                                <input type="submit" name="save-information" class="save-information" value="Save information">
                            </div>
                        </div>
                    </form>

                    {# RIGHT #}
                    <form class="right-form" action="#" method="post" id="myform2">
                        <div class="form-right">
                            <h2>Security information</h2>
                            <div class="form-group">
                                <div class="form-row form-row-1 validate-input">
                                    <input type="password" name="old-password" class="input100 old-password" id="old-password" placeholder="Old password">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="form-row form-row-2 validate-input">
                                    <input type="password" name="new-password" class="input100 new-password" id="new-password" placeholder="New password">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="form-row form-row-3 validate-input">
                                    <input type="password" name="confirm-password" class="input100 confirm-password" id="confirm-password" placeholder="Confirm new password">
                                </div>
                            </div>

                            <div class="form-row-last validate-input">
                                <input type="submit" name="save-password" class="save-password" value="Save password">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js_files %}
    <script src="/static/js/main/settings.js"></script>
{% endblock %}