html{
    overflow-x: hidden;
    font-family: 'Ubuntu', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
}

body{
    color: white;
    margin: auto;
    padding: auto;
    background-image: url('/static/image/background.jpg');
    background-size: cover;
}

.side_bar{
    margin: auto;
    padding: auto;
    padding: 0.8%;
    background-color: orange;
}

.side_bar a{
    color: black;
    font-size: 1.25em;
    margin-right: 1.7em;
    text-decoration: none;
}

.side_bar a:hover{
    color: white;
    font-size: 1.3em;
}

/*-------------------Good-------------------------------------------*/

.EditForm{
    width: 25em;
    color: black;
    margin: auto;
    margin-top: -1.5em;
    border-radius: 1.5em;
    background-color: deepskyblue;
}

.EditForm #header{
    text-align: center;
    margin-bottom: 5px;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: underline;
}

.EditForm #label{
    font-size: 1.25em;
    text-align: center;
    margin-bottom: -0.6em;
}

.EditForm #field{
    text-align: center;
    font-size: 1.25em;
}

.EditForm #field input{
    font-size: 1em;
    text-align: center;
}

.EditForm #button{
    text-align: center;
}

.EditForm #button input{
    width: 5em;
    cursor: pointer;
    font-size: 1.25em;
    border-radius: 1em;
    background-color: orangered;
    border: 1px solid orangered;
}

.EditForm #button input:hover {
    background-color: orange;
}

.EditForm #errors{
    color: red;
    margin-top: -1em;
    font-size: 1.25em;
    text-align: center;
}

/*--------------------------------------------------------*/

.my_page{
    margin: auto;
    width: max-content;
    height: max-content;
    background: rgba(255,245,215, 0.3);
}

.my_page #avatar{
    padding: 1em;
    border: 2px white solid;
}

.my_page #avatar img{
    width: 100%;
    height: 100%;
    max-width: 25em;
    max-height: 25em;
}

.my_page .profile_information{
    width: 25em;
    padding: 0.1em;
    font-size: 1.25em;
    border: 2px white solid;
    font-family: 'Consolas', 'Monaco', 'Bitstream Vera Sans Mono', monospace;
}

.my_page .profile_information #name_sur{
    text-align: center;
}

.my_page .profile_information hr{
    margin-top: -1em;
}

.my_page .profile_information .infromation_list{
    margin-top: 1vh;
    margin-left: 0.25em;
}

.my_page .edit_links{
    margin-top: 11em;
    margin-left: 0.25em;
}

.my_page .edit_links a{
    font-size: 1em;
    color: deepskyblue;
    text-decoration: none;
}

.my_page .edit_links a:hover{
    font-size: 1.1em;
}

.my_page .button_in_table{
    height: 6em;
}

.my_page .button_in_table #button_on_dialog{
    text-align: center;
    text-decoration: none;
}

.my_page .button_in_table #button_on_dialog button{
    width: 90%;
    border-color: blue;
    color: #fff;
    box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
    transition: all 150ms ease-in-out;
    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    border: 2px solid #e74c3c;
    border-radius: 0.6em;
    color: white;
    cursor: pointer;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin-left: 5%;
    padding: 1em 2.8em;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.my_page .button_in_table #button_on_dialog button:hover{
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
    background-color: orange;
}

/*--------------------------------------------------------*/

.chat_panel #person{
    width: 20em;
    margin: auto;
    margin-top: 1em;
    font-size: 1.25em;
    text-align: center;
    border: 2px white solid;
}

.chat_panel .messages{
    display: block;
    animation: ani linear 1s alternate infinite;
    overflow-y: auto;
    overflow-x: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3px;
    width: 50%;
    max-height: 70%;
    border: 1px white solid;
    border-collapse: separate;
    border-spacing: 0.5em;
}

.chat_panel .messages #mess{
    width: 1%;
    border: 1px white dashed;
    border-radius: 15px;
}

.chat_panel .messages #mess:hover{
    background-color: darkslategray;
}

.chat_panel .messages #mess p{
    margin: 2%;
}

.chat_panel .messages #mess .construct_message{
    border-collapse: separate;
    font-size: 1.25em;
    width: 100%;
}

.chat_panel .messages #mess .construct_message #name_and_message{
    width: 80%;
}

.chat_panel .messages #mess .construct_message #name_and_message span{
    white-space: pre-wrap;
}

.chat_panel .messages #mess .construct_message #time{
    border-left: 1px dashed white;
    text-align: center;
    font-size: 85%;
}

.chat_panel #write_panel{
    border: 1px white solid;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 13%;
}

.chat_panel #write_panel #message{
    width : 100%;
    height : 95%;
    resize: none;
    border-radius: 0.5em;
    font-size: 1.25em;
}

.chat_panel #write_panel #send{
    width: 100%;
    height: 95%;
    border-color: blue;
    color: #fff;
    box-shadow: 0 0 45px 45px #3498db inset;
    transition: all 150ms ease-in-out;
    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    border: 2px solid #eeeeee;
    border-radius: 0.6em;
    color: white;
    cursor: pointer;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.chat_panel #write_panel #send:hover {
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
    background-color: orange;
}

.chat_panel #errors{
    text-align: center;
    font-size: 110%;
    color: red;
}

/*--------------------------------------------------------*/

.home .person_information{
    margin-right: auto;
    margin-left: auto;
    border-collapse: separate;
    border-spacing: 0.5em;
    color: white;
}

.home .person_information #person_td{
    border: 1px white dashed;
    border-radius: 5%;
}

.home .person_information #person_td a{
    text-decoration: none;
}

.home .person_information #person_td:hover{
    background-color: darkorange;
}

.home .person_information .avatar{
    padding: 0.7em;
}

.home .person_information .avatar img{
    width: 100%;
    height: 100%;
    max-width: 25em;
    max-height: 25em;
}

.home .person_information .info{
    font-family: 'Consolas', 'Monaco', 'Bitstream Vera Sans Mono', monospace;
}

