<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8'>
        <meta name="robots" content="noindex">

        {% block head %} {% endblock %}

        <!--===============================================================================================-->
        <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet' type='text/css'>
        <!--===============================================================================================-->
        <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'>
        <!--===============================================================================================-->
        <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="/static/css/base.css">
        <!--===============================================================================================-->

        <script src='https://production-assets.codepen.io/assets/common/stopExecutionOnTimeout-b2a7b3fe212eaa732349046d8416e00a9dec26eb7fd347590fbced3ab38af52e.js'></script>
        <!--===============================================================================================-->
        <script src='https://production-assets.codepen.io/assets/editor/live/events_runner-73716630c22bbc8cff4bd0f07b135f00a0bdc5d14629260c3ec49e5606f98fdd.js'></script>
        <!--===============================================================================================-->
        <script src='https://production-assets.codepen.io/assets/editor/live/css_live_reload_init-2c0dc5167d60a5af3ee189d570b1835129687ea2a61bee3513dee3a50c115a77.js'></script>
        <!--===============================================================================================-->
        <script src="https://use.typekit.net/hoy3lrg.js"></script>
    </head>

    <body>

        <!-- Page Preloder -->
        <div id="preloder">
            <div class="loader"></div>
        </div>

        <div id="frame">
            <div id="sidepanel">

                <div id="profile">
                    <div class="wrap">
                        <a href="{{ url_for('my_profile') }}">
                            <img id="profile-img" src= {{ current_user.photo }} class="online" alt="" />
                        </a>
                        <p>{{ current_user.name }} {{ current_user.surname }}</p>
                    </div>
                </div>

                <div id="search">
                    <label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
                    <input type="text" placeholder="Search contacts..." />
                </div>

                <div id="contacts">
                    <ul>
                        {% for user in users %}
                            {% if user.id != current_user.id %}
                            <a href={{ url_for('chat', nick=user.nick) }}>
                                <li class="contact">
                                    <div class="wrap">
                                        <span class="contact-status {{ 'online' if user.status else 'offline' }}"></span>
                                        <img src= {{ user.photo }} alt="" />
                                        <div class="meta">
                                            <p class="name"> {{ user.name }} {{ user.surname }} </p>
                                            <p class="preview">
                                                <span>
                                                    {{ 'You : Last message...' }}
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                </li>
                            </a>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>

                <div id="bottom-bar">
                    <button id="addcontact">
                        <i class="fa fa-user-plus fa-fw" aria-hidden="true"></i>
                        <span>Add contact</span>
                    </button>

                    <a href="{{ url_for('settings') }}">
                        <button id="settings">
                            <i class="fa fa-cog fa-fw" aria-hidden="true"></i>
                            <span>Settings</span>
                        </button>
                    </a>
                </div>
            </div>

            {% block content %}{% endblock %}

        </div>

        <script src='https://production-assets.codepen.io/assets/common/stopExecutionOnTimeout-b2a7b3fe212eaa732349046d8416e00a9dec26eb7fd347590fbced3ab38af52e.js'></script>
        <!--===============================================================================================-->
        <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
        <!--===============================================================================================-->
        {% block js_files %}{% endblock %}
        <!--===============================================================================================-->
        <script type="text/javascript" src="/static/js/base.js"></script>
        <!--===============================================================================================-->
    </body>
</html>