{% extends 'base.html' %}

{% block content %}
    <div class="chat_panel">
        <p id="person">Chat with <b>{{ user.nick }}</b></p>

        <table class="messages">
            {% for i in range(times|length) %}
                <tr>
                    <td id="mess">

                        <table class="construct_message">
                            <tr>
                                <td id="name_and_message">
                                    <span> <b>{{ messages[i].sender_nick }}</b>: {{ messages[i].text }}</span>
                                </td>

                                <td id="time">
                                    <p>{{ times[i] }}</p>
                                </td>
                            </tr>
                        </table>

                    </td>
                </tr>
            {% endfor %}
        </table>

        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <table id="write_panel">
                <tr>
                    <td>
                        {{ form.message() }}
                    </td>
                    <td>
                        {{ form.send() }}
                    </td>
                </tr>
            </table>
            {% for error in form.message.errors %}
                <p id="errors">[{{ error }}]</p>
            {% endfor %}
        </form>
    </div>
{% endblock %}