{% extends 'base.html' %}

{% block content %}
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div class = "EditForm">
            <p id="header"> Edit form</p>

            <table>

                <tr>
                    <p id="label">{{ form.current_password.label }}</p>
                    <p id="field">{{ form.current_password(size=26) }}</p>
                    {% for error in form.current_password.errors %}
                        <p id="errors">[{{ error }}]</p>
                    {% endfor %}
                </tr>

                <tr>
                    <p id="label">{{ form.new_password.label }}</p>
                    <p id="field">{{ form.new_password(size=26) }}</p>
                    {% for error in form.new_password.errors %}
                        <p id="errors">[{{ error }}]</p>
                    {% endfor %}
                </tr>

                <tr>
                    <p id="label">{{ form.confirm_password.label }}</p>
                    <p id="field">{{ form.confirm_password(size=26) }}</p>
                    {% for error in form.confirm_password.errors %}
                        <p id="errors">[{{ error }}]</p>
                    {% endfor %}
                </tr>

                <tr>
                    <p id="button">{{ form.submit() }}</p>
                </tr>
            </table>
        </div>
    </form>
{% endblock %}