{% extends 'base.html' %}

{% block content %}
    <div class = "EditForm">
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p id="header"> Registration form</p>

            <table>
                <tr>
                    <p id="label">{{ form.name.label }}</p>
                    <p id="field">{{ form.name(size=26) }}</p>
                    {% for error in form.name.errors %}
                        <p id="errors">[{{ error }}]</p>
                    {% endfor %}
                </tr>

                <tr>
                    <p id="label">{{ form.surname.label }}</p>
                    <p id="field">{{ form.surname(size=26) }}</p>
                    {% for error in form.surname.errors %}
                        <p id="errors">[{{ error }}]</p>
                    {% endfor %}
                </tr>

                <tr>
                    <p id="label">{{ form.nick.label }}</p>
                    <p id="field">{{ form.nick(size=26) }}</p>
                    {% for error in form.nick.errors %}
                        <p id="errors">[{{ error }}]</p>
                    {% endfor %}
                </tr>

                <tr>
                    <p id="label">{{ form.age.label }}</p>
                    <p id="field">{{ form.age(size=26) }}</p>
                    {% for error in form.age.errors %}
                        <p id="errors">[{{ error }}]</p>
                    {% endfor %}
                </tr>

                <tr>
                    <p id="label">{{ form.email.label }}</p>
                    <p id="field">{{ form.email(size=26) }}</p>
                    {% for error in form.email.errors %}
                        <p id="errors">[{{ error }}]</p>
                    {% endfor %}
                </tr>

                <tr>
                    <p id="label">{{ form.password.label }}</p>
                    <p id="field">{{ form.password(size=26) }}</p>
                    {% for error in form.password.errors %}
                        <p id="errors">[{{ error }}]</p>
                    {% endfor %}
                </tr>

                <tr>
                    <p id="label">{{ form.confirm_password.label }}</p>
                    <p id="field">{{ form.confirm_password(size=26) }}</p>
                    {% for error in form.confirm_password.errors %}
                        <p id="errors">[{{ error }}]</p>
                    {% endfor %}
                </tr>

                <tr>
                    <p id="button">{{ form.submit() }}</p>
                </tr>
            </table>
        </form>
    </div>
{% endblock %}